doctype html
html
  head
    title buildmuscleswithnitin
    block scripts
    block style
  body
    block content
    
    footer.footer
      | INFERNO Copyright © 2026 - All rights reserved || Designed By: Nitin