extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
        include ../static/plan.css

block content
    .container1
      nav.navbar
        ul
          li.nav-item
            a(href="/") Home
          li.nav-item
            a(href="/about") About
          li.nav-item
            a(href="/services") Services
          li.nav-item
            a(href="/contact") Contact       


        h1 Here are all the details about the Standard Plan 

        .line 

        div.form

            div.boxp

                p ✓ Full Gym Access
                p ✓ Cardio and Strength Training
                p ✓ Personalized Workout Plan
                p ✓ Personalized Workout Plan
                p ✓ Monthly Fitness Assessment
                p ✓ Group Training Sessions
                p ✓ Basic Diet Guidance
                p ✓ Locker Facility
                p ✓ Progress Tracking

            div.boxform

                form(action="/standardplan" method="post")
                    input(type="text" class = "myinput" name="name" placeholder="Your Name")
                    input(type="text" class = "myinput" name="age" placeholder="Your Age")
                    input(type="email" class = "myinput" name="email" placeholder="Your Email")
                    input(type="tel" class = "myinput" name="phone" placeholder="Your Phone Number")
                    button(type="submit") Submit
